<nav class="menu">
    <ul class="menu__list">
        <li class="menu__list-item">
            <a href="/" class="black-link menu__list-item-link {{ 'menu__list-item-link--active' if page.url === '/' }}" {% if page.url === '/' %}aria-current="page"{% endif %}>Posts</a>
        </li>
        <li class="menu__list-item">
            <a href="/about" class="black-link menu__list-item-link {{ 'menu__list-item-link--active' if page.url === '/about/' }}" {% if page.url === '/about/' %}aria-current="page"{% endif %}>About me</a>
        </li>
    </ul>
</nav>