<div class="sidebar">
    <header class="sidebar__author">
        <img src="/assets/img/photo.jpg" class="sidebar__author-photo" alt="Picture of Nikolas Rist." width="75" height="75">
        <span class="sidebar__author-title">
            <a {% if page.url === '/' %}aria-current="page"{% endif %} class="black-link sidebar__author-title-link black-link" href="/">Nikolas Rist</a>
        </span>
        <span class="sidebar__author-subtitle">Full-Stack Developer</span>
    </header>
    {% include "components/navigation.njk" %}
    {% include "components/social-links.njk" %}
</div>