<li class="talk-item">
    <time class="datetime" datetime="{{ talk.date | htmlDateString }}">
        {{ talk.date | readableDate }}
    </time>
    {% if talk.data.eventLink|length %}
        <a class="event-name" href="{{ talk.data.eventLink }}" target="_blank">{{ talk.data.meetup }}</a>
    {% else %}
        <span class="event-name">{{ talk.data.meetup }}</span>
    {% endif %}

    <h2><a class="talk-item__link black-link" href="{{ talk.url }}">{{ talk.data.title }}</a></h2>

    <p class="talk-item__description">{{ talk.data.description | safe }}</p>
</li>