// Contains styling for bare HTML elements (like H1, A, etc.).
// These come with default styling from the browser so we can redefine them here.

@import '../settings/variables';
@import '../tools';

body {
  color: $typographic-base-font-color;
  background-color: $color-base;
  font-family: $typographic-font-family;
  font-size: $typographic-base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $typographic-base-line-height;
  margin: 0 0 0 calc(100vw - 100%);
  text-rendering: optimizelegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// Grid rules for the blog:
.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

body {
  display: grid;
  max-width: 61rem;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
  grid-template-columns: 280px 1fr;
  grid-template-areas: 'sidebar content';
}
@media (max-width: $layout-breakpoint-sm) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      'sidebar'
      'content';
  }
}

body.no-grid {
  display: block;
  grid-template-columns: none;
  grid-template-areas: none;
}

// Grid rules end.

main {
  padding: 0 1rem;
}

h2,
h1,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family;
  font-weight: 600;
  a {
    color: $typographic-base-font-color !important;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

h1 {
  font-size: $typographic-base-font-size * 1.6;
  @include line-height(2);
  @include margin-top(1);
  @include margin-bottom(1);
  @media (max-width: $layout-breakpoint-sm) {
    @include margin-top(0.5);
  }
}

h2 {
  font-size: $typographic-base-font-size * 1.5;
  @include line-height(1.5);
  @include margin-top(0);
  @include margin-bottom(0.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(0);
  @include margin-bottom(0.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(0);
  @include margin-bottom(0.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(0);
  @include margin-bottom(0.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(0);
  @include margin-bottom(0.5);
}

img {
  border: 0;
  display: block;
  max-width: 100%;
}

hr {
  background-image: linear-gradient(
    to bottom,
    transparent 1px,
    transparent 11px,
    $color-base 11px,
    $color-base 15px,
    transparent 15px,
    transparent 26px
  );
  background-size: 100% 26px;
  border: 0;
  color: $color-base;
  display: block;
  height: 26px;
  margin: 52px auto;
  width: 100px;
}

a {
  color: $typographic-link-font-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-hover-focus-font-color;
    text-decoration: underline;
  }
}

b,
strong {
  font-weight: 600;
}

ul {
  list-style: square;
  @include margin-bottom(1);

  & li {
    margin-bottom: 10px;
    padding: 0 5px;
  }
}

p {
  @include line-height(1);
  @include margin-bottom(1);
}

blockquote {
  font-style: italic;
  padding: 0;
  text-align: center;
}

figure {
  display: block;
  height: auto;
  width: 100%;
}

figcaption {
  @include line-height(0.75);
  @include margin-top(0.25);
  color: $color-base;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}
