{% extends 'layouts/base.njk' %}

{% block bodyCssClasses %}no-grid{% endblock %}

{% block sidebar %}
	<a href="/" class="link-button post-home-link">All Posts</a>
{% endblock %}

{% block content %}
    <article class="post-detail">

        <header class="page-header length-optimal">
            <h1 class="post-title">{{ title }}</h1>
        </header>

        {{ content | safe }}

        <em class="post-publish-date">Published {{ date | readableDate }}</em>

    </article>

    {# schema #}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ title }}",
        "author": {
            "@type": "Person",
            "name": "Nikolas Rist"
        },
        "datePublished": "{{ date | htmlDateString }}",
        "dateModified": "{{ date | htmlDateString }}"
    }
    </script>

{% endblock %}