{% extends "layouts/base.njk" %}


{% block content %}
    <h1>Posts</h1>
    <ul class="list-unstyled">
        {% for post in collections.bloglist %}
            {% include "components/post-list-item.njk" %}
        {% endfor %}
    </ul>
{% endblock %}