{% extends "layouts/base.njk" %}

{% block content %}
    <h1>Talks</h1>
    <p>My first main hobby when I moved to Bonn in 2016 was attending all kinds of meetups related to software development. Meetups are a great tool for networking and learning. My employers have always encouraged me to host meetups in their office, as they've proven to be a helpful recruiting measure.</p>
    <p>Soon after I've started giving talks based on my work experience, I eventually created my own local Meetup group <a href="https://www.meetup.com/de-DE/Bonn-Code/" target="_blank">Bonn Code</a>, where all talks must be in english, in order to provide a space for international attendees and speakers.</p>
    <p>This page contains an overview of my talks.<br>Click on the name of the talk to find abstracts, slides and sometimes speaker notes.<br>Click on the meetup name to jump to the event.</p>
    <ul class="list-unstyled">
        {% for talk in collections.talklist %}
            {% include "components/talk-list-item.njk" %}
        {% endfor %}
    </ul>
{% endblock %}