{% extends 'layouts/base.njk' %}

{% block bodyCssClasses %}no-grid{% endblock %}

{% block sidebar %}
	<a class="link-button talk-home-link" href="/talks/">All Talks</a>
{% endblock %}

{% block content %}
    <article class="talk-detail">

        <header>
            <time class="talk-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
            <h1 class="talk-title">{{ title }}</h1>
        </header>

        {{ content | safe }}

    </article>

    {# schema #}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Blogtalking",
        "headline": "{{ title }}",
        "author": {
            "@type": "Person",
            "name": "Nikolas Rist"
        },
        "datePublished": "{{ date | htmlDateString }}",
        "dateModified": "{{ date | htmlDateString }}"
    }
    </script>

{% endblock %}