@import '../settings/variables';

.link-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 5.625rem;
  font-size: 1rem;
  padding: 0 1rem;
  height: 35px;
  line-height: 2.1875rem;
  text-align: center;
  color: #555;
  background: #ebebeb;
  font-weight: 400;
  border-radius: 0.1875rem;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem;
  &:hover,
  &:focus,
  &:active {
    color: $color-base;
    background: #dfdfdf;
    text-decoration: none;
  }
}