@import "../settings/variables";
@import "../tools";

.menu {
  @include margin-bottom(1);
}

.menu__list {
    list-style: none;
    @include margin-equal(0);
    @include padding-equal(0);
}

.menu__list-item {
    @include margin(0.5, 0);
    @include padding-equal(0);
}

.menu__list-item-link {
    border: 0;
    font-size: $typographic-base-font-size;
    font-weight: normal;

    &--active {
        text-decoration: underline;
    }
}