@import '../settings/variables';

.post-detail {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}

.post-title {
  font-size: 2rem;
  line-height: 2.68125rem;
  text-align: center;
}

.post-publish-date {
  display: block;
  margin-top: 30px;
}

@media (min-width: $layout-breakpoint-md) {
  .post-detail {
    padding: 0 1rem;
  }
  .post-home-link {
    position: fixed;
    margin: 0;
    top: 30px;
    left: 30px;
  }
  .post-title {
    font-size: 3rem;
    line-height: 3.65625rem;
    margin-top: 3.65625rem;
    margin-bottom: 2.4375rem;
  }
}
