@import '../settings/variables';
@import '../tools';

.sidebar {
  @include padding(1.25, 0.75, 0);
  position: relative;

  &__author {
    margin-bottom: 30px;
  }

  &__author-photo {
    display: inline-block;
    margin-bottom: 8px;
    border-radius: 50%;
    background-clip: padding-box;
  }

  &__author-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__author-subtitle {
    display: block;
    color: $color-gray;
  }
}

@include breakpoint-sm {
  .sidebar {
    @include padding(1.25, 0.75, 0);

    &:after {
      background: $color-gray-border;
      background: linear-gradient(
        to bottom,
        $color-gray-border 0%,
        $color-gray-border 48%,
        $color-white 100%
      );
      bottom: 0;
      content: '';
      height: 540px;
      position: absolute;
      right: -10px;
      top: 30px;
      width: 1px;
    }
  }
}

@include breakpoint-md {
  .sidebar {
    .inner {
      @include padding-equal(1.5);
    }
  }
}
