.links__list {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  list-style: none;
  @include padding-equal(0);
  @include margin(0.5, 0, 0);
  @include breakpoint-sm {
    max-width: 200px;
  }

  &-item {
    align-content: center;
    align-items: center;
    border: 1px solid $color-gray-bg;
    border-radius: 50%;
    display: flex;
    height: $button-height;
    justify-content: center;
    line-height: $button-height;
    text-align: center;
    width: $button-height;
    @include padding-equal(0);
    @include margin-equal(0.2);
    &:first-child {
      margin-left: 0;
    }
    @include breakpoint-sm {
      &:last-child {
        margin-left: 0;
      }
    }

    i {
      opacity: 0.8;
    }

    a {
      border: 0;
      color: $color-primary;
      display: flex;

      &:hover,
      &:focus,
      &:active {
        i {
          opacity: 1;
        }
      }
    }
  }
}
