@import '../settings/variables';

.talk-detail {
  max-width: 42rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
  margin-bottom: 16px;
}

.talk-title {
  font-size: 2rem;
  line-height: 2.68125rem;
  text-align: center;
}

.talk-date {
  display: block;
  text-align: center;
}

@media (min-width: $layout-breakpoint-md) {
  .talk-date {
    margin-top: 1.5rem;
  }
  .talk-home-link {
    position: fixed;
    margin: 0;
    top: 30px;
    left: 30px;
  }
  .talk-title {
    font-size: 3rem;
    line-height: 3.65625rem;
    margin-top: 1.65625rem;
    margin-bottom: 2.4375rem;
  }
}
